* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #ffffff;
  font-family: serif;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  height: 500px;
  margin: 50px auto;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
}

.container__image {
  width: 300px;
  height: 180px;
  border-radius: 5px 5px 0 0;
}

h1 {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  font-weight: 300;
  text-align: center;
}
p {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container__tlacitka {
  display: flex;
  flex-direction: column;
}
.pravidla {
  display: block;
  background-color: #1fcca4;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  line-height: 2.5rem;
  margin: 0.1rem 0;
}
.pravidla:hover {
  background-color: #1cbb96;
}
.pravidla:focus {
  outline: 2px dotted white;
}
.zacithrat {
  background-color: #0197f6;
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  line-height: 2.5rem;
}
.zacithrat:hover {
  background-color: #0090e9;
}
.zacithrat:focus {
  outline: 2px dotted white;
}

/*stranka pravidla*/

.rules {
  color: #ffffff;
  font-family: serif;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 270vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.container__pravidla {
  min-width: 300px;
  max-width: 50%;
  height: auto;
  margin: auto;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  flex: 1 2 auto;
}

.heading__pravidla {
  padding-top: 40px;
}

li {
  padding: 0.5rem;
}
ol {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.circle,
.cross {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

/* 
zmenila jsem instrukce za figure, nejdriv nastylovat instrukce a pak figure 
.instrukce {
  
} */

/* figure {
  padding: 5px;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 5px solid red;
  flex-grow: 1 3 auto;
} */

img {
  max-width: 300px;
  max-height: 300px;
}

figcaption {
  background-color: #283e50;
  text-align: center;
  max-width: 300px;
}
/* 
.container__pravidla {
  min-width: 300px;
  max-width: 50%;
  height: auto;
  margin: 50px auto;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  border: 5px solid red;
  flex: 1 2 auto;
} 
*/

/* .instrukce {
  width: 10px;
  height: 10px;
  width: 300px;
  height: 180px;
  flex-wrap: wrap;
  border: 5px solid rgb(0, 255, 42);
} */
