h1 {
  font-size: 2rem;
  font-family: 'Lobster', cursive, sans-serif;
  color: #ffffff;
  font-weight: 300;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

p {
  color: #ffffff;
  padding: 1rem;
}
.container {
  display: flex;
  position: inherit;
  left: calc(50% - 500px / 2);
  top: calc(50% - 800px / 2);
  flex-direction: column;
  flex: 1 1 auto;
}
.nazev {
  display: flex;
  display: block;
  text-align: center;
}
.image {
  width: 500px;
  height: 300px;
  display: flex;
  display: inline-block;
}
.main {
  width: 500px;
  height: 300px;
  background-color: #283e50;
  display: flex;
  display: inline;
  text-align: center;
}
.pravidla {
  list-style-type: none;
}
